/* setup generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(255, 9, 9);
  border: 2px rgb(22, 1, 140);
}

.border {
  border: 2px dashed black;
}

body {
  font-family: sans-serif;
}
/* /setup generali */

/* utility */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* row-columns */

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

[class^="col"] {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-100 {
  width: calc(100%);
}

.col-1-3 {
  width: calc(100% / 3);
}

/* fine row-columns */

/* ## header top */

.header-navbar ul {
  font-size: 0.8rem;
  display: flex;
}
.header-navbar ul li a {
  text-decoration: none;
  color: black;
  padding-left: 1rem;
}

.header-navbar ul li :hover {
  color: blue;
}

.favicon {
  width: 180%;
  padding-bottom: 1rem;
}

/* ## header Low  */
.header-low {
  background-color: black;
  height: 8rem;
}
.header-low-content {
  color: white;
  padding-top: 4rem;
  font-weight: 0.8rem;
}

/* ## main-icons*/
.main-icons {
  height: 8rem;
  background-color: #0282f9;
}
.icon-allign {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}
.icon-allign a {
  text-decoration: none;
  color: white;
  font-size: 0.6rem;
}

.main-imgs {
  background-color: #0282f9;
  width: 2rem;
}

.main-navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

/* ## main-links */
.main-links {
  background-image: url("../img/footer-bg.jpg");
}

.links-title {
  color: white;
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main-links .container {
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 90%, 10%;
}
.main-links .container a {
  color: gray;
  text-decoration: none;
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
  font-size: 0.8rem;
}
.main-links .container li :hover {
  color: white;
}
.main-links .container li {
  padding-bottom: 0.5rem;
}
.main-links .container nav {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

/* footer */
footer {
  background-color: #303030;
}
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer h4 {
  color: #0282f9;
  text-decoration: none;
}
.footer nav ul {
  gap: 1rem;
  color: gray;
  text-decoration: none;
}

.footer nav ul li img {
  color: #777777;
}

.footer button {
  gap: 1rem;
  color: gray;
  border: 1px solid #0282f9;
  text-decoration: none;
  padding: 1rem;
  background-color: #303030;
}
.footer button a {
  gap: 1rem;
  color: white;
  text-decoration: none;
}

/* ## alert */

.alert {
  border: 3px solid gray;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  color: black;
  background-color: white;
}

.alert.alert-info {
  border-color: blue;
  color: #0282f9;
  background-color: #cbe3f8;
}

.alert.alert-success {
  border-color: #00ff88;
  color: #00311a;
  background-color: #029e55;
}

.alert.alert-danger {
  border-color: #dc3545;
  color: #dc3545;
  background-color: #f5d5d8;
}

.alert.alert-warning {
  border-color: #ffc008;
  color: yellow;
  background-color: #ffe281;
}
